colors {
  --star-command-blue: hsla(204, 81%, 68%, 1);
  --apricot: hsla(16, 29%, 100%, 1);
  --african-violet: hsla(285, 29%, 75%, 1);
  --tea-green: hsla(120, 12%, 91%, 1);
  --rich-black-fogra-39: hsla(260, 25%, 5%, 1);
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
